<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DailyDiary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BCB86AE1E3A49D10028DADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCB86C71E3A49D10028DADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCB86D21E3A49D10028DADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
